[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-timeout = "*"
pylint = "*"
pytest = "==5.2.2"
pytest-cov = "==2.8.1"
codecov = "==2.0.16"
flake8 = "==3.7.9"

[packages]
mypy = "==0.740"
safety = "==1.8.5"
black = "==19.10b0"
isort = "==4.3.21"
prometheus_client = "==0.7.1"
Flask = "==1.1.1"

[requires]
python_version = "3.8"
